{
  "presets": [
    "@babel/preset-env"
  ],
  "env": {
    "production": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": "last 2 versions, not dead"
          }
        }]
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
